body{    
    font-weight: 300;
    font-size: 1.4rem;
    background-color:white;
    min-height:100vh;
}
.df#header{
		height: 5rem;
		padding:0 1.6rem;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.1) ;
		width:100%;
		overflow: scroll;
}
header#header h1 {
		display: -webkit-box; 
		-webkit-line-clamp: 1; 
		-webkit-box-orient: vertical; 
		overflow: hidden; 
		text-overflow: ellipsis;
		font-weight:400;font-size:2rem;
}
header#header a{
		
		display: -webkit-box; 
		-webkit-line-clamp: 1; 
		-webkit-box-orient: vertical; 
		overflow: hidden; 
		text-overflow: ellipsis;
}
.container{
		padding:1.6rem;
}
input{
   border: 0;
		outline: 0;
		padding: 0.4rem;
		width: 100%;
		height: 100%;
		background-color: var(--transparent-color);
}
#error1,#error2{
		display: none;
		color: red;
		font-size: 1rem;
		margin-top: 0.8rem;
		margin-left: 10%;
}
.df{
		height: 5rem;		
}
.bt{
		display: flex;
		flex-direction: column;
}
.btn-sc{
		background: var(--white-color);
		border: 1px solid rgba(0,0,0,0.2);
		height: 4.2rem;
   border-radius: 0.2rem;
   padding: 1rem;
   color: var(--text-color);
}
.btn-sc span{
		display: -webkit-box; 
		-webkit-line-clamp: 2; 
		-webkit-box-orient: vertical; 
		overflow: hidden; 
		text-overflow: ellipsis;
}
button{
border-radius: 0.3rem;
		margin-top: 1.6rem;
		height: 4rem;
		background: var(--red-color);
		border: 0;
		color: var(--white-color);
}
.inb{
		margin-bottom: 0.6rem;
}
.close{
		display: none;
		margin-right: 1rem;
}
.registration-other a{
		display: -webkit-box; 
		-webkit-line-clamp: 1; 
		-webkit-box-orient: vertical; 
		overflow: hidden; 
		text-overflow: ellipsis;
}
